* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    background-color: black;
    height: 110px;
}

/* Botão de Colapso */
.btn {

    
    border-radius: 50%;
    
    text-align: center;
    color: white;
    
    font-stretch: extra-expanded;
    font-size: 24px;
    margin: 33px 19px;
    cursor: pointer;
}
.btn:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.61);
}

.menu {
    display: none;
    transition: 300ms;
}

.material-icons {

    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}