* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    background-color: black;
    height: 120px;
}

/* Botão de Colapso */
.btn {

    
    border-radius: 50%;
    
    text-align: center;
    color: white;
    
    font-stretch: extra-expanded;
    font-size: 24px;
    margin: 30px 20px;
    cursor: pointer;
}
.btn:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.61);
}

.menu {
    display: none;
    transition: 300ms;
}